.newspaper-container {
  width: 700px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #ddd;
  padding: 10px 20px;
  background-color: #eee;
  margin: 40px auto;
}

body {
   font-family: "Source Sans Pro";
  background-color: white; 
}

h1 {
  font-family: "Abril Fatface";
  color: black;
  text-align: center;
}

h2, h4 {
  font-family: "Roboto Slab";
  color: black;
}

nav li {
  list-style-type: none;
}

li {
  margin-left: 0;
  display: inline-block;

}

a {
  text-decoration: none;
  padding: 3px;
  color: #777
}