.newspaper-container {
  width: 700px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #ddd;
  padding: 10px 20px;
  background-color: #eee;
  margin: 40px auto;
}

body {
  font-family: "Source Sans Pro";
  background-color: white; 
}

h1 {
  font-family: "Abril Fatface";
  color: black;
  text-align: center;
}

h2, h4 {
  font-family: "Roboto Slab";
  color: black;
}

h5 {
  color: #dd3232;
}

nav li {
  list-style-type: none;
}

li {
  margin-left: 0;
  display: inline-block;

}

a {
  text-decoration: none;
  padding: 0.2em;
  color: #777
}

.article-1, .article-2 {
  display: inline-block;
  width: 46%;
  text-align: left;
  padding: 12px;
}

 img {
  width: 100%;
 }