main {
  font-family: "Source Sans Pro";
  background-color: #eee;
}

h2 {
  font-family: "Roboto Slab";
}

nav {
  border: 1px solid #eee;
}

ul li {
  display: inline-block;
  list-style-type: none;
}

nav a {
  color: #777;
  text-decoration: none;
}

.newspaper-container {
  width: 700px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #ddd;
  padding: 10px 20px;
  background-color: white;
  margin: 40px auto;
}

h1 {
  text-align: center;
  color: black;
  font-family: "Abril Fatface";
}

h2, h4 {
  color: black;
}

div section {
  display: inline-block;
}